# Class 12

### MySQl Notes for today 

**SQL** is a **relational database** will have unique columns and rows *table format* where rows are the data and columns are the *attributes* 

There are **Primary Keys** it's the unique column 

**Database** --> manage huge amount of data because size increase and there will be problems with scalability 
- Accuracy 
- Flexibility upload data (many people can edit at same time)
- Data Security --> privlegies restrict access

**MySQL**  - SQL --> Structured Query Language 


---

**Create Database**

`create database database_name;`

We need to **use** a certain database 

Data types:
- Character:
    - Char(s) --> 255 characters 
    - Varchar(s) --> 255 characters (Length that changes the size (dynamic))
    - Text --> 65,535 characters
- Data
- Integer:
    - int (can use primary key as well)
    - decimal(s,d)
    - float(s) -> number is total digits 

`id int primary key` will be a primary key column 

`insert into table values(val1, val2,val3)`

You could select using the **select** keyword 
`select * from table`
`select name, salary from employee`

**primary keys** should be auto-increment
- but you want to modify / *alter* the table 

```mysql

# Altering the table 
alter table employee;
modify id int auto_increment;

```

---

**Constraints** 
**NOT NULL** -> not empty 

You need to alter your table if it's already created 

```mysql 

alter table employee;
	modify name varchar(30) not null;


```

**Default** -> provide a val if no value specified 

`column_name data_tyupe default <value>`

```mysql

alter table employee;
modify city varchar(30) default 'mumbai';

```

you could **add** a coluumn

```mysql

alter table employee 
add column_name datatype 

```

**Unique** key vs primary key 

ONly one primary key in one column 
Cannot have more than one primary key 

Unique Constraint 

```mysql

alter table employee 
add column email varchar(30) unique;

```

**Check** 

Check for a condition every constraint has a name so you must also give it 

*Affect* current data as well when you make the constaraints 


```mysql

alter table table_name 
add constraint constraint_name check (column_name>ccondition)

alter table table_name 
modify column datatype check(column_name>condition)
```

---

**Operators** 

+, -, *, /

```mysql
select 5-4
```